<section id="home" class="container home-hero">
	<main>
		<h1>
			<img src="{{ asset("build/shapes/common/small-grass-left.svg") }}" alt="small grass left up" class="up-left"/>
			<span>{{ "home.hero_section.title.span_1"|trans }}</span>
			<br>
			<span class="yellow-text">{{ "home.hero_section.title.span_2"|trans }}</span>
			<img src="{{ asset("build/shapes/common/small-grass-left.svg") }}" alt="small grass bottom right" class="bottom-right"/>
		</h1>
		{{ "home.hero_section.subtitle"|trans|raw }}
	</main>
	<div class="home-decorative-elements">
		<img src="{{ asset("build/shapes/home-hero-section/path_1.svg") }}" alt="shape path left" class="path-left"/>
		<img src="{{ asset("build/shapes/home-hero-section/path_2.svg") }}" alt="shape path right" class="path-right"/>
		<img src="{{ asset("build/shapes/common/grass.svg") }}" alt="grass" class="grass-center"/>
	</div>
</section>
